{% extends 'base.html.twig' %}

{% block title %}{% trans %}Log in!{% endtrans %}{% endblock %}
{% block stylesheets %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Meow+Script&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('assets/css/login.css') }}">
{% endblock %}


{% block body %}
    <form method="post" class="screen-1">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >


        <div class="email">
            <label for="email">{% trans %}Email Address{% endtrans %}</label>
            <div class="sec-2">
                <ion-icon name="mail-outline" role="img" class="md hydrated" aria-label="mail outline"></ion-icon>
                <input type="email" value="{{ last_username }}" name="_username" id="username" autocomplete="email" required autofocus>
            </div>
        </div>
        <div class="password">
            <label for="password">{% trans %}Password{% endtrans %}</label>
            <div class="sec-2">
                <ion-icon name="lock-closed-outline" role="img" class="md hydrated" aria-label="lock closed outline"></ion-icon>
                <input type="password" name="_password" id="password" autocomplete="current-password" required>
            </div>
        </div>
        <button class="login" type="submit">{% trans %}Login{% endtrans %}</button>
    </form>
{% endblock %}
