<!doctype html>
<html lang="en" data-bs-theme="auto">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3">
        <link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet">
    {% endblock %}
</head>
<body>
{% block header %}
{% endblock %}
<main>
    {% block body %}{% endblock %}
</main>
{% block footer %}
<footer></footer>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('assets/js/bootstrap.bundle.min.js') }}"></script>
{% endblock %}
</body>
</html>
